.landing-page {
    display: flex;
    flex-direction: column;
    height: 1920px;
}

.main-section {
    background: peachpuff;
    border: 4px solid brown;
    display: flex;
    flex: 5 1 0;
    padding-right: 200px;
    padding-left: 200px;
    align-items: center;
    justify-content: center;
}

/* Is it better to refactor and create vertical flexboxes to set the paddings? */
.main-section.info, .main-section.quote {
    padding-right: 300px;
    padding-left: 300px;
}

.landing-page .header{
    flex: 0 0 20px;
}

.landing-page .footer {
    flex: 0 0 60px;
}

/* Header */
.header-logo, .header-links{
    display: flex;
    flex: 1 1 0;
}

.link {
    flex: 1 1 0;
}

/* Intro */
.intro-signup, .intro-image {
    flex: 1 1 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-signup {
    flex-direction: column;
    justify-content: space-between;
}

.intro-signup div {
    width: 100%;
}
.intro-signup .intro-title, .intro-text {
    flex: 1 1 0;
}

.intro-signup .signup-button {
    flex: 0 2 0;
}
/* Info */
.info {
    flex-direction: column;
}

.info div {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .info-illustrations-container {
    flex: 3 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.info-illustrations-container .info-illustration {
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-illustration .illustration {
    flex: 2 1 0;
}

.info-illustration .caption {
    flex: 1 1 0;
}

/* Quote */
.quote {
    flex-direction: column;
}

.quote div {
    flex: 2 1 0;
    width: 100%;
    display: flex;
}

.quote .quote-text {
    flex-direction: column;
    flex: 5 1 0;
    justify-content: center;
    align-items: center;
}
.quote-text .text {
    flex: 20 1 0;
}
.quote-text .author {
    flex: 1 1 0;
    justify-content: right;
    align-items: center;
}

/* Sign up banner */
.signup {
    flex-direction: column;
}

.signup div {
    width: 100%;
    flex: 1 1 0;
}

.signup .signup-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-banner .signup-content {
    display: flex;
    flex: 1 1 0;
    width: 50%;
}

.signup-content .signup-text {
    flex: 5 1 0;
    display: flex;
}

.signup-content .signup-button {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Footer */
.copyright {
    /* styling */
}

/* To see layout of boxes easier, will delete later */
div {
    border: 2px solid purple;
    margin: 1px;
}